/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cedarville+Cursive&family=IBM+Plex+Serif:ital@1&display=swap');

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
 background-color: rgb(255, 255, 255);
}
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

body::-webkit-scrollbar {
  width: 0px; /* Adjust this to your preference */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}